.product-detail{
    margin-top: 80px;
}
.image-contain{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.image-contain ul{
    padding: 0;
}
.image-main img{
    width: 100%;
    height: 500px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 15px;
}
.image-list{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.image-list img{
    width: 120px;
    height: 120px;
}
.image-list .image-item{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid grey;
}
.image-list .image-item:hover{
    transform: scale(0.9);
    cursor: pointer;
}
.product-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    gap:20px;
    font-size: 1.3rem;
}
.name-contain, .des-contain, .price-contain{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    padding: 5px;
    border-radius: 5px;
}
.des-contain .des-title,.name-contain .name-title, .price-contain .price-title{
    flex:1;
}
.des-contain .des,.name-contain .name, .price-contain .price{
    flex:3;
}
.addtocart-contain{
    display: flex;
}
.add-cart-btn-contain{
    display: flex;
    justify-content: center;
    height: 50px;
    flex: 1;
}
.add-cart-btn-contain .cart-add{
    width: 80%;
    border-radius: 12px;
    background-color: white;
    border:1px solid darkgoldenrod;
    color: rgba(0,0,0,0.6);
    font-size: 1.3rem;
}
.add-cart-btn-contain .cart-add:hover{
    background-color: darkgoldenrod;
    color: white;
    transition: all .3 ease-in-out;
}
.quantity-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.quantity-contain .quantity-text{
    display: flex;
    justify-content: center;
    /* font-size: 1.5rem; */
}
.quantity-contain .quantity{
    display: flex;
    /* font-size: 1.2rem; */
    gap: 5px;
}
.quantity .decrease, .quantity .increase{
    border-radius: 50%;
    border: 1px solid darkgoldenrod;
    display: flex;
    align-items: center;
    padding: 2px 3px;
}
.quantity .decrease:hover, .quantity .increase:hover{
    color: white;
    cursor: pointer;
    background-color: darkgoldenrod;
}
.relate-dish-contain{
    margin: 0 25px 25px 25px;
    border-top: 1px solid rgba(0,0,0,0.3);
}
.relate-dish{
    padding: 5px 10px;
    border-radius: 15px;
}
.relate-dish:hover{
    border: 1px solid darkgoldenrod;
}
.relate-dish-title{
    color: rgba(0,0,0,0.6);
    margin-bottom: 10px;
}
.relate-dish a{
    display: flex;
    justify-content: center;
}
.relate-dish img{
    width: 95%;
    border-radius: 5px;
}
.relate-dish img:hover{
    transform: scale(0.9);
}
.relate-dish-contain .content-dish{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgba(0,0,0,0.6);
    font-weight: 300;
    font-size: 1.1rem;
}
.content-dish .name:hover a{
    color: darkgoldenrod;
}
.contain-dish .name a{
    width: 100%;
}
.relate-dish-contain .content-dish a{
    color: rgba(0,0,0,0.6);
    font-weight: 300;
}
.relate-dish-contain .img-dish{
    display: flex;
    justify-content: center;
    align-items: center;
}
.relate-dish-contain .img-dish a{
    width: 85%;
}
.add-cart-btn-relate-contain{
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-cart-btn-relate-contain .cart-add{
    border: 1px solid darkgoldenrod;
    border-radius: 5px;
    background-color: white;
    color: rgba(0,0,0,0.6);
}
.add-cart-btn-relate-contain .cart-add:hover{
    color: white;
    background-color: darkgoldenrod;
}
.evaluate-customer{
    margin: 0 25px 25px 25px;
    border-top: 1px solid rgba(0,0,0,0.3);
}
.evaluate-title{
    color: rgba(0,0,0,0.6);
    margin-bottom: 10px;
}
.card-evaluate{
    width: 90%;
    display: flex;
    border: 1px solid darkgoldenrod;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    height: 280px;
}
.img-customer{
    border-radius: 10px;
    width: 90%;
}
.img-customer img{
    width: 80%;
    object-fit: contain;
}
.content .stars{
    color: rgb(225, 225, 14);
}

/* responsive */
@media(max-width:1120px){
    .add-cart-btn-relate-contain .cart-add{
        height: 40px;
        width: 90%;
        font-size: 1rem;
    }
}
@media(max-width:991px){
    .product-info{
        margin-bottom: 8px;
        font-size: 1.1rem;
    }
    .add-cart-btn-contain .cart-add{
        font-size: 1.1rem;
    }
    .addtocart-contain{
        gap: 10px;
    }
    .relate-dish-contain .img-dish img{
        width: 100%;
        height: 250px;
    }
}
@media(max-width:770px){
    .add-cart-btn-contain{
        height: 50px;
    }
    /* .image-contain img{
        width: 90%;
    } */
    .add-cart-btn-contain .cart-add{
        border-radius: 12px;
        background-color: white;
        border:1px solid darkgoldenrod;
        color: rgba(0,0,0,0.6);
        width: 90%;
    }
    .quantity-contain .quantity-text{
        display: flex;
        justify-content: center;
    }
    .card-evaluate{
        height: auto;
    }
}
@media(max-width:575px){
    .add-cart-btn-relate-contain .cart-add{
        width: 80%;
    }
    .relate-dish{
        display: flex;
    }
    .relate-dish-contain .img-dish{
        height: 150px;
    }
    .relate-dish-contain .content-dish{
        gap: 5px;
    }
    .relate-dish-contain .img-dish img{
        width: 100%;
        height: 150px;
        object-fit: contain;
    }
    .info-dish{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        gap: 15px;
    }
}
