main{
    margin-top: 120px;
    margin-bottom: 10px;
}
.infoOrder{
    font-size: 20px;
}
.infoOrder label{
    width: 40%;
}
.infoOrder input{
    width: 60%;
    height: 40px;
}
.name-contain, .phone-contain,.email-contain, .address-contain, .order-contain{
    display: flex;
    padding: 15px;
    align-items: center;
}
.order-contain{
    justify-content: center;
}
.order-contain input{
    width: 50%;
    height: 50px;
}
.button-order{
    border: 1px solid green;
    color: green;
    background-color: white;
}
.button-order:hover{
    background-color: green;
    color: white;
}
